In [1]:
import os
import sys
import time
import numpy as np
import matplotlib.pyplot as plt

module_path = os.path.abspath(os.path.join('../../fusion'))
module_path2 = os.path.abspath(os.path.join('../..'))
module_path3 = os.path.abspath(os.path.join('../'))
if module_path not in sys.path:
    sys.path.append(module_path)

if module_path2 not in sys.path:
    sys.path.append(module_path2)
    
if module_path3 not in sys.path:
    sys.path.append(module_path3)

# Get Cleaned Merged Datasets

In [2]:
from preprocessing_datasets.preprocessing_book import *
data = set_merged_books()
data

,ISBN_10,title,author,big_cate,small_cate,publisher
0,0001361589,Noddys Rainy Day Activity Book,blyton enid,childrens-fiction-young-adult,enid-blyton,HarperCollinsChildrensBooks
1,0001361589,Fun With Noddy Summer Activity Book. Noddy's T...,blyton enid,childrens-fiction-young-adult,enid-blyton,BBC Childrens Books
2,0001380451,Fun And Games With Paddington,bond michael,childrens-fiction-young-adult,childrens-series,Collins
3,0001380451,FUN AND GAMES WITH PADDINGTON,bond michael,childrens-fiction-young-adult,childrens-series,"Collins, London"
4,0001380451,Fun and Games with Paddington,bond michael,childrens-fiction-young-adult,childrens-series,Collins
...,...,...,...,...,...,...
2676279,9979940417,Iceland : The New Millennium Series,isberg jon olafur,travel-books,adventure-travel,None
2676280,9979940417,Iceland : The New Millennium Series,granz olafur,travel-books,adventure-travel,None
2676281,9984592774,Riga - Journey Through The Centuries,andris lamsters,travel-books,travel-guides,Madris
2676282,9986830494,"Lithuania: Nature, Traditions, Culture, Cities",a kairiene,travel-books,exploration,R Paknis leidykla
2676283,9990894108,Walks of Life: The Other Side of Malawi,mutisunge phoya,travel-books,adventure-travel,"Central Africana Limited, Blantyre, Malawi"

# Count ISBN_10

In [3]:
data['ISBN_10'].value_counts()[:20]

0439136350    167
0439784549    156
0787960756    149
0385349947    149
0439813786    148
0439139597    146
067082982X    146
0060530928    146
0375502912    145
0679412956    144
1880418568    144
159562015X    144
0345303059    143
0684811073    143
0679879242    143
0375401601    143
0679411674    143
0316065781    143
0679454489    142
0395486025    142
Name: ISBN_10, dtype: int64

In [4]:
get_merged_books_truth()

(0     0439136350
 1     0439784549
 2     0385349947
 3     0787960756
 4     0439813786
 5     067082982X
 6     0060530928
 7     0439139597
 8     0375502912
 9     159562015X
 10    0679412956
 11    1880418568
 12    0345303059
 13    0679411674
 14    0316065781
 15    0679879242
 16    0375401601
 17    0684811073
 18    0395486025
 19    0394498216
 Name: ISBN_10, dtype: object,
 0                     J. K. Rowling
 1                     J. K. Rowling
 2     Sheryl Sandberg, Nell Scovell
 3                  Patrick Lencioni
 4                    Brian Selznick
 5                      Stephen King
 6                       Neil Gaiman
 7                     J. K. Rowling
 8                 Laura Hillenbrand
 9                          Tom Rath
 10                        Anne Rice
 11                     Stephen King
 12                 Arthur C. Clarke
 13                    Toni Morrison
 14                Elizabeth Kostova
 15                   Philip Pullman
 16                        Anne Rice
 17                  Stephen Ambrose
 18          William Least Heat-Moon
 19                        Anne Rice
 Name: true_authors, dtype: object)

# Count best 20 multiple authors

In [5]:
data['ISBN_10'].value_counts()[0:120]

0394498216    142
0394423291    141
0151006903    141
1878685546    141
0307264238    141
0316734942    140
0545010225    140
074320395X    139
0394558588    139
0679427430    139
0316966207    138
0887307280    138
0671454463    138
0393038025    137
0525222650    137
0679441018    137
0198607024    137
0151001006    137
0060183349    137
0060175907    137
Name: ISBN_10, dtype: int64

In [14]:
data['ISBN_10'].value_counts()[120:200]

0679433015    129
0195014766    129
0670839809    129
0670616966    128
0679425357    128
             ...
0399133097    124
0060172533    124
0679755551    124
0679415599    124
0679734163    124
Name: ISBN_10, Length: 80, dtype: int64

In [15]:
data['ISBN_10'].value_counts()[180:200]

0671891650    125
0375413634    125
0393317552    125
0140258795    125
0684800039    125
0517598493    125
0375500316    125
0786862580    125
0670843342    125
0679401342    125
0395389526    125
0553051377    125
0061340634    125
1573221775    125
0374299625    124
0399133097    124
0060172533    124
0679755551    124
0679415599    124
0679734163    124
Name: ISBN_10, dtype: int64

# Analysis 0399135189

In [3]:
dataGroupByISBN = data.groupby('ISBN_10')

In [4]:
table_ISBN = dataGroupByISBN.get_group('0399135189')

In [7]:
table_ISBN['author'].value_counts()

bob hope                       120
melville shavelson              64
bob hope w                       2
better homes                     1
gardens                          1
bob hope~melville shavelson      1
Name: author, dtype: int64