In [2]:
import os
import sys
import time
import numpy as np
import matplotlib.pyplot as plt

module_path = os.path.abspath(os.path.join('../../fusion'))
module_path2 = os.path.abspath(os.path.join('../..'))
module_path3 = os.path.abspath(os.path.join('../'))
if module_path not in sys.path:
    sys.path.append(module_path)

if module_path2 not in sys.path:
    sys.path.append(module_path2)
    
if module_path3 not in sys.path:
    sys.path.append(module_path3)

In [3]:
from preprocessing_datasets.preprocessing_book import *

# Mag2020

In [3]:
mag_list_ISBN_10, mag_true_authors = getTruthMag2020()

In [4]:
mag_list_ISBN_10.value_counts().sum()

504

In [5]:
len(mag_true_authors)

504

# Giu2020

In [6]:
giu_list_ISBN_10, giu_true_authors = getTruthGiu2020()

In [7]:
print(len(giu_list_ISBN_10), len(giu_true_authors))

872 872

# Truth500

In [8]:
list_ISBN_10, true_authors = getTruth500()

In [9]:
print(len(list_ISBN_10), len(true_authors))

500 500

# Create CSV Merged Truth

In [10]:
merged = returnMergedTruth()

In [11]:
merged

        ISBN_10                                      true_authors
0    0007197160                                      Marren Peter
1    0029011086                   Averill James R.,Nunley Elma P.
2    0046500022                                    Zimmerman Mark
3    0060473738  Zinn Maxine Baca,Eitzen Stanley D.,Wells Barbara
4    0060621036                           Dycus Jim,Dycus Barbara
..          ...                                               ...
874  1595141979                                     Mead Richelle
875  1625275773               Hoffman Reid,Casnocha Ben,Yeh Chris
876  1856195295                                         King Ross
877  1885167180                    Freiberg Kevin,Freiberg Jackie
878  1885203292                                  Lewis W. Richard

[879 rows x 2 columns]

In [12]:
#merged.to_csv('merged_truth.csv', index=False)

# getMerged Truth

In [3]:
merged_ISBN_10, merged_authors = getMerged()

In [4]:
print(len(merged_ISBN_10), len(merged_authors))

879 879

In [5]:
merged_ISBN_10

0      0007197160
1      0029011086
2      0046500022
3      0060473738
4      0060621036
          ...
874    1595141979
875    1625275773
876    1856195295
877    1885167180
878    1885203292
Name: ISBN_10, Length: 879, dtype: object

# Find not existing ISBN

In [4]:
clean_book = set_clean_book()

In [5]:
clean_book

,ISBN_10,title,author,big_cate
0,0000219118,"The Journal of Asian Studies, Volume 47, Numbe...",asian association for inc studies,history-books
1,0000219118,The Journal of Asian Studies,asian association for inc studies the,history-books
2,0000788589,Late Oligocene - Early Miocene Spores and Poll...,c d mildenhall,science-books
3,0000788589,Late Oligocene - Early Miocene Spores and Poll...,d pocknall t,science-books
4,0000788589,Fossil Barnacles (Cirripedia: Thoracica) of Ne...,buckeridge john stewart,science-books
...,...,...,...,...
2199026,9994533150,Indian Arts and Crafts,clara lee tanner,literature
2199027,9994533150,Indian Arts and Crafts,clara lee tanner,literature
2199028,9994533150,Indian Arts and Crafts,clara lee tanner,literature
2199029,9998111552,RN; The Memoirs of Richard Nixon,m nixon richard,history-books
2199030,9998111552,The Memoirs of Richard Nixon,nixon richard,history-books

In [11]:
ISBN_list_from_source_clean = clean_book['ISBN_10'].tolist()

In [12]:
print(len(ISBN_list_from_source_clean))
ISBN_list_from_source_clean = set(ISBN_list_from_source_clean)
print('after >>>', len(ISBN_list_from_source_clean))

2199031
after >>> 68494

In [9]:
merged_books = set_merged_books()

In [10]:
merged_books

,ISBN_10,title,author,big_cate,small_cate,publisher
0,0001361589,Noddys Rainy Day Activity Book,blyton enid,childrens-fiction-young-adult,enid-blyton,HarperCollinsChildrensBooks
1,0001361589,Fun With Noddy Summer Activity Book. Noddy's T...,blyton enid,childrens-fiction-young-adult,enid-blyton,BBC Childrens Books
2,0001380451,Fun And Games With Paddington,bond michael,childrens-fiction-young-adult,childrens-series,Collins
3,0001380451,FUN AND GAMES WITH PADDINGTON,bond michael,childrens-fiction-young-adult,childrens-series,"Collins, London"
4,0001380451,Fun and Games with Paddington,bond michael,childrens-fiction-young-adult,childrens-series,Collins
...,...,...,...,...,...,...
2676279,9979940417,Iceland : The New Millennium Series,isberg jon olafur,travel-books,adventure-travel,None
2676280,9979940417,Iceland : The New Millennium Series,granz olafur,travel-books,adventure-travel,None
2676281,9984592774,Riga - Journey Through The Centuries,andris lamsters,travel-books,travel-guides,Madris
2676282,9986830494,"Lithuania: Nature, Traditions, Culture, Cities",a kairiene,travel-books,exploration,R Paknis leidykla
2676283,9990894108,Walks of Life: The Other Side of Malawi,mutisunge phoya,travel-books,adventure-travel,"Central Africana Limited, Blantyre, Malawi"

In [13]:
ISBN_list_from_source_merged = merged_books['ISBN_10'].tolist()
print(len(ISBN_list_from_source_merged))
ISBN_list_from_source_merged = set(ISBN_list_from_source_merged)
print('after >>>', len(ISBN_list_from_source_merged))

2676284
after >>> 200544

In [14]:
merged_ISBN_10, merged_authors = getMerged()

In [15]:
merged_ISBN_10 = set(merged_ISBN_10)

In [16]:
len(merged_ISBN_10)

879

In [17]:
difference = merged_ISBN_10 - ISBN_list_from_source_clean

In [18]:
difference

set()

In [19]:
difference = merged_ISBN_10 - ISBN_list_from_source_merged
difference

set()

In [20]:
difference = ISBN_list_from_source_clean - merged_ISBN_10 
print(len(difference), len(ISBN_list_from_source_clean) - len(merged_ISBN_10))

67615 67615