In [1]:
import os
import sys
import time
import numpy as np
import matplotlib.pyplot as plt

module_path = os.path.abspath(os.path.join('../fusion'))
if module_path not in sys.path:
    sys.path.append(module_path)

In [2]:
from preprocessing_datasets.preprocessing_book import *

In [3]:
data = load_clean_book()

here

In [4]:
type(data)

pandas.core.frame.DataFrame

In [5]:
data

,index,ISBN_10,seller_link,big_cate,author,dirtyAuthor,oldAuthor,title
0,0,0000219118,ground-zero-books%2c-ltd-silver-spring/62893/sf,history-books,"['Association for Asian Studies, Inc']","['association for asian studies, inc']",asian association for inc studies,"The Journal of Asian Studies, Volume 47, Numbe..."
1,1,0000219118,pursuit-of-happiness-books-oakland-ca/81375/sf,history-books,"['The Association for Asian Studies, Inc']","['the association for asian studies, inc']",asian association for inc studies the,The Journal of Asian Studies
2,2,0000788589,archway-books-mana/685127/sf,science-books,"['Pocknall, D. T. And D. C. Mildenhall', 'Pock...","['pocknall, d. t.', 'd. c. mildenhall']",c d mildenhall,Late Oligocene - Early Miocene Spores and Poll...
3,2,0000788589,archway-books-mana/685127/sf,science-books,"['Pocknall, D. T. And D. C. Mildenhall', 'Pock...","['pocknall, d. t.', 'd. c. mildenhall']",d pocknall t,Late Oligocene - Early Miocene Spores and Poll...
4,3,0000788589,arty-bees-books-wellington/6226172/sf,science-books,"['Buckeridge, John Stewart']","['buckeridge, john stewart']",buckeridge john stewart,Fossil Barnacles (Cirripedia: Thoracica) of Ne...
...,...,...,...,...,...,...,...,...
2199026,1891013,9994533150,mark-henderson-olathe-ks-u.s.a/2095040/sf,literature,"['Tanner, Clara Lee']","['tanner, clara lee']",clara lee tanner,Indian Arts and Crafts
2199027,1891014,9994533150,owlsbooks-toledo-md-u.s.a/51218811/sf,literature,['Clara Lee Tanner'],['clara lee tanner'],clara lee tanner,Indian Arts and Crafts
2199028,1891015,9994533150,second-city-books-aurora-il-u.s.a/63477172/sf,literature,"['Tanner, Clara Lee']","['tanner, clara lee']",clara lee tanner,Indian Arts and Crafts
2199029,1891016,9998111552,dogstar-books-lancaster-pa-u.s.a/50869000/sf,history-books,"['Nixon, Richard M.']","['nixon, richard m.']",m nixon richard,RN; The Memoirs of Richard Nixon
2199030,1891017,9998111552,sequitur-books-boonsboro-md-u.s.a/53436069/sf,history-books,['Richard Nixon'],['richard nixon'],nixon richard,The Memoirs of Richard Nixon

In [16]:
ISBN_10_groups = data.groupby('ISBN_10')
type(ISBN_10_groups.groups)

dict

In [17]:
data.count()

index          2199031
ISBN_10        2199031
seller_link    2199031
big_cate       2199031
author         2199031
dirtyAuthor    2199031
oldAuthor      2198328
title          2199031
dtype: int64

In [18]:
data['volume'].value_counts(bins=4)

NameError: name 'df' is not defined